<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'articles' %>

<!-- Метод link_to - один из встроенных хелперов Rails. Он создает
гиперссылку, на основе текста для отображения и указания куда перейти -
в нашем случае путь для контроллера articles.
